
[data-markdown] {
	position:relative;
	p {margin:0.2em 0;}
	h4,h5 {margin:0;}
	.actions {position:absolute;right:2px;bottom:2px;margin:0;
		.btn-edit {visibility: hidden;}	
	}
	&:hover { 
		.actions .btn-edit {visibility: visible;}
	}
}
.page-header { margin-bottom:14px; }
.footer {margin-top:4em;padding:1em;background:#F5f5f5;font-family: Georgia;}
textarea {font-family:consolas;}