
<div class="row">
	<div class="span8">
		<section data-markdown="subtitle">
			
		</section>
		<br>
		<div class="row-fluid">
			<div class="span4">
				<section data-markdown="first-row-span1"></section>
			</div>
			<div class="span4">
				<section data-markdown="first-row-span2"></section>
			</div>
			<div class="span4">
				<section data-markdown="first-row-span3"></section>
			</div>
		</div>
		<hr>
		<div class="row-fluid">
			<div class="span4">
				<section data-markdown="2nd-row-span1"></section>
			</div>
			<div class="span4">
				<section data-markdown="2nd-row-span2"></section>
			</div>
			<div class="span4">
				<section data-markdown="2nd-row-span3"></section>
			</div>
		</div>
	</div>
	<div class="span4">
		<section class="alert alert-warning" data-markdown="side-row">
			
		</section>
		<div class="mod">
			<div class="mod-body">
				<section data-markdown="side-row-2">
					<div class="md-content">
						
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<div class="footer text-center">
	<div class="container">
		<section class="muted" data-markdown="footer">
			
		</section>
	</div>
</div>